[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Firefox
Name[fr]=Mozilla Firefox
Name[nb]=Mozilla Firefox
Name[nn]=Mozilla Firefox
Name[no]=Mozilla Firefox
GenericName=Web Browser
GenericName[fr]=Navigateur Web
GenericName[nb]=Nettleser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
Comment=Browse the World Wide Web
Comment[fr]=Navigue sur Internet
Comment[nb]=Surf på nettet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Exec=firefox %u
Terminal=false
MultipleArgs=false
Type=Application
Icon=mozilla-firefox.png
Categories=Application;Network
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;x-directory/webdav;x-directory/webdav-prefer-directory;image/gif;image/jpeg;image/png

